{% extends "auctions/layout.html" %}

{% block body %}
<h2>Create a New List</h2>

<form action="{% url 'createlist' %}" method="POST">
    {% csrf_token %}
<div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" class="form-control" placeholder="Enter a Title">
</div>

<div class="form-group">
    <label for="Description">Description</label>
    <input type="text" name="Description" class="form-control" placeholder="Enter a Description">
</div>

 <div class="form-group">
    <label for="imageurl">Image Url</label>
    <input type="text" name="imageurl" class="form-control" placeholder="Enter a Image Url">
</div>

<div class="form-group">
    <label for="price">Price</label>
    <input type="number" min="0" name="price" class="form-control">
</div>
<br>

<div class="choi">
    <label name="category"> Choice a Category </label>
<select name="category">
    {% for cate in categories %}
        <option value="{{ cate }}">{{ cate }}</option>
    {% endfor %}
    </select>
</div><br>


<button type="submit" class="btn btn-dark">Create a New List</button>

</form>


   
{% endblock %}